
@{
    ViewData["Title"] = "新增";
}
 <style>
     /*table {
         border-collapse: collapse;
     }*/
     table tr td {
         /*border: 1px solid #000000;*/
         height:45px;
     }
     input {
         height: 35px;
     }
 </style>
<form action="/Admin/Person/Add" method="post">
    <table style="padding:0;">
        <tr>
            <td>姓名：</td>
            <td><input type="text" name="Name" style="width:300px;"/></td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td><input type="text" name="Age" style="width:300px;"/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="新增" style="width:100px;"/>
            </td>
        </tr>
    </table>
</form>

